[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/archi/Desktop/assistant.desktop]
row=0
col=3

[/home/archi/Desktop/AdGuardHome.desktop]
row=0
col=2

[/home/archi/Desktop/clamtk.desktop]
row=3
col=3

[/home/archi/Desktop/radio.m3u]
row=0
col=17

[/home/archi/Desktop/doc.desktop]
row=1
col=2

[/home/archi/Desktop/Обращение к пользователю.txt]
row=1
col=5

[/home/archi/Desktop/Рекомендации.md]
row=1
col=6

[/home/archi/Desktop/archi.py]
row=2
col=2

[/home/archi/Desktop/Оффициальное WiKi локальная версия]
row=1
col=3

[/home/archi/Desktop/install.desktop]
row=2
col=3

[/home/archi/Desktop/rkhunter.desktop]
row=3
col=2

[/home/archi/Desktop/install.log]
row=4
col=0

[/home/archi]
row=0
col=0

