[Desktop Entry]
Name=Ассистент
Comment=Ассистент
Keywords=assistant;фыышыефте;Ассистент;fccbcnant;
Exec=/opt/assistant/bin/assistant
Terminal=false
Type=Application
Icon=/opt/assistant/share/icons/assistant.png
Categories=Network;