[Unit]
Description=Assistant remote control unit
After=network.target
After=network-online.target
After=display-manager.service
Requires=display-manager.service

[Service]
Type=simple
PIDFile=/var/run/assistant.pid
WorkingDirectory=/opt/assistant

Restart=always
RestartSec=3

User=root
Group=root

ExecStart=/opt/assistant/scripts/runasts.sh
ExecStop=/usr/bin/killall -u root asts
TimeoutSec=300

[Install]
WantedBy=graphical.target