[Desktop Entry]
Version=1.0
Type=Link
Name=Документация online
Comment=
Icon=firefox
URL=https://wiki.archlinux.org/title/Main_page_(%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9)