[Desktop Entry]
Version=1.0
Type=Application
Name=rkhunter
Comment=Проверка системы на присутствие rootkit`ов
Exec=sudo rkhunter --check --sk --logfile /home/archi/Desktop/rkhunter.log
Icon=security-high
Path=
Terminal=true
StartupNotify=false
